{% extends 'base.html' %}
{% load static %}
{% load product_tags %}
{% block content %}
{% if product|length < 1 %}
<div class= "container">
    <div class="row">
        <br>
        <h3> Ürün Bulunamadı </h3>
        <img src="{% static 'assets/img/404.gif' %}"  class="centerImage">
    </div>
</div>
{% else %}
<main>
    <!-- breadcrumb__area-start -->
    <section class="breadcrumb__area box-plr-75">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__wrapper">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <p class="breadcrumb-item"><a href="">Anasayfa</a></p>
                                <p class="breadcrumb-item active" aria-current="page">Ürün</p>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb__area-end -->

    <!-- shop-area-start -->
    <div class="shop-area mb-20">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="product-widget mb-30">
                        <h5 class="pt-title">Kategoriler</h5>
                    </div>
                    <div class="product-widget mb-30">
                        <h5 class="pt-title">Alt Kategori</h5>
                    </div>
                    <div class="product-widget mb-30">
                        <h5 class="pt-title">Fiyata Göre Filtrele</h5>
                     </div>
                    <div class="product-widget mb-30">
                        <h5 class="pt-title">Renk Seçin</h5>
                    </div>
                    <div class="product-widget mb-30">
                        <h5 class="pt-title">Beden Seçin</h5>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="product-lists-top">
                        <div class="product__filter-wrap">
                            <div class="row align-items-center">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="product__filter d-sm-flex align-items-center">
                                        <div class="product__col">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link active" id="FourCol-tab"
                                                        data-bs-toggle="tab" data-bs-target="#FourCol" type="button"
                                                        role="tab" aria-controls="FourCol" aria-selected="true">
                                                        <i class="fal fa-th"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="product__result pl-60">
                                            <p>1-20 Sonuçları Gösteriliyor</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="product__filter-right d-flex align-items-center justify-content-md-end">
                                        <div class="product__sorting product__show-no">
                                            <select>
                                                <option>10</option>
                                                <option>20</option>
                                                <option>30</option>
                                                <option>40</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="productGridTabContent">
                        <div class="tab-pane fade  show active" id="FourCol" role="tabpanel"
                            aria-labelledby="FourCol-tab">
                            <div class="tp-wrapper">
                                <div class="row g-0" id="filteredProducts">
                                    {% for i in product %}
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item product__item-d">
                                            <div class="product__thumb fix">
                                                <div class="product-image w-img">
                                                    <a href="{{i.get_absolute_url}}">
                                                        <img src="{{i.image}}" alt="product" height="200px">
                                                    </a>
                                                </div>
                                                <div class="product-action">
                                                    <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal"
                                                        data-bs-target="#productModalId--{{forloop.counter}}">
                                                        <i class="fal fa-eye"></i>
                                                        <i class="fal fa-eye"></i>
                                                    </a>
                                                    <a href="#" class="icon-box icon-box-1">
                                                        <i class="fal fa-heart"></i>
                                                        <i class="fal fa-heart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product__content-3">
                                                <h6><a href="product-details.html">{{i.urun_isim|truncatewords:8}}</a>
                                                </h6>
                                                <div class="rating mb-5">
                                                    <ul>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                    </ul>
                                                    <span>(01 review)</span>
                                                </div>
                                                <div class="price mb-10">
                                                    <span>{% call_sellprice i.price i.discount%}₺</span>&nbsp;&nbsp;<del>{{i.price}}</del>
                                                </div>
                                            </div>
                                            <div class="product__add-cart-s text-center">
                                                <a href="{% url 'cart_add' i.id %}" type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                                                    Sepete Ekle
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tp-pagination text-center">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="basic-pagination pt-30 pb-30">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="{% url 'product' %}" class="active">1</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop-area-end -->
</main>
<!-- shop modal start -->
{% for i in product %}
<div class="modal fade" id="productModalId--{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered product__modal" role="document">
        <div class="modal-content">
            <div class="product__modal-wrapper p-relative">
                <div class="product__modal-close p-absolute">
                    <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                </div>
                <div class="product__modal-inner">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="product__modal-box">
                                <div class="tab-content" id="modalTabContent">
                                    <div class="tab-pane fade show active" id="nav1" role="tabpanel"
                                        aria-labelledby="nav1-tab">
                                        <div class="product__modal-img w-img">
                                            <img src="{{i.product_image_set.first.image_url}}" alt="">
                                        </div>
                                    </div>
                                    {% for image in i.product_image_set.all %}
                                    <div class="tab-pane fade show" id="nav{{image.id}}" role="tabpanel"
                                        aria-labelledby="nav{{image.id}}-tab">
                                        <div class="product__modal-img w-img">
                                            <img src="{{image.image_url}}" alt="">
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                    {% for image in i.product_image_set.all %}
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="nav{{image.id}}-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav{{image.id}}" type="button" role="tab"
                                            aria-controls="nav{{image.id}}" aria-selected="true">
                                            <img src="{{image.image_url}}" alt="" style="width:85px;height:85px;">
                                        </button>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="product__modal-content">
                                <h4><a href="product-details.html">{{i.name}}</a></h4>
                                <div class="product__review d-sm-flex">
                                    <div class="rating rating__shop mb-10 mr-30">
                                        <ul>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__add-review mb-15">
                                        <span>01 inceleme</span>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span>{% call_sellprice i.price i.discount %}₺</span>&nbsp;&nbsp;<del>{{i.price}}</del>
                                </div>
                                <div class="product__modal-des mt-20 mb-15">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-circle"></i> {{i.information}}</a></li>
                                    </ul>
                                </div>
                                <div class="product__stock mb-20">
                                    <span class="mr-10">Stok Durumu :</span>
                                    <span>{{i.stock}} tane stokta</span>
                                </div>
                                <div class="product__modal-form">
                                    <form action="#">
                                        <div class="pro-quan-area d-lg-flex align-items-center">
                                            <div class="product-quantity mr-20 mb-25">
                                                <div class="cart-plus-minus p-relative"><input type="text" value="1" />
                                                </div>
                                            </div>
                                            <div class="pro-cart-btn mb-25">
                                                <button class="cart-btn" type="submit">Sepete Ekle</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="product__stock mb-30">
                                    <ul>
                                        <li><a href="#">
                                                <span class="cat mr-10">Kategori:</span>
                                                <span>{{i.sub_category.category.main_category.name}} ,{{i.sub_category.category.name}}, {{i.sub_category.name}}</span></a>
                                            </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop modal end -->
{% endfor %}
{% endif %}
{% endblock %}
