{% extends 'base.html' %}
{% block content %}
{% load static %}
        <!-- page-banner-area-start -->
        <div class="page-banner-area page-banner-height-2" data-background="{% static 'assets/img/banner/page-banner-4.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-banner-content text-center">
                            <h4 class="breadcrumb-title">Hesabım</h4>
                            <div class="breadcrumb-two">
                                <nav>
                                   <nav class="breadcrumb-trail breadcrumbs">
                                      <ul class="breadcrumb-menu">
                                         <li class="breadcrumb-trail">
                                            <a href="{% url 'home' %}"><span>Home</span></a>
                                         </li>
                                         <li class="trail-item">
                                            <span>Hesabım</span>
                                         </li>
                                      </ul>
                                   </nav> 
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-banner-area-end -->

        <!-- account-area-start -->
        <div class="account-area mt-70 mb-70">
            <div class="container">
                {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}                            
            {% endif %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="basic-login mb-50">
                            <h5>Giriş Yap</h5>
                            <form action="{% url 'handlelogin' %}" method="post">
                                {% csrf_token %}
                                <label for="username">Kullanıcı Adı  <span>*</span></label>
                                <input id="username" type="text" placeholder="Kullanıcı Adı..." name="username">
                                <label for="password">Şifre <span>*</span></label>
                                <input id="password" type="password" placeholder="Şifrenizi girin..." name="password">
                                <div class="login-action mb-10 fix">
                                    <span class="log-rem f-left">
                                       <input id="remember" type="checkbox">
                                       <label for="remember">Beni hatırla</label>
                                    </span>
                                    <span class="forgot-login f-right">
                                       <a href="#">Şifrenizi mi unuttunuz ?</a>
                                    </span>
                                </div>
                                <button type="submit" class="tp-in-btn w-100">Giriş Yap</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="basic-login">
                            <h5>Kayıt Ol</h5>
                            <form action="{% url 'handleregister' %}" method="post">
                                {% csrf_token %}
                                <label for="name">İsim <span>*</span></label>
                                <input id="name-id" type="text" placeholder="İsim..." name="name">
                                <label for="surname-id">Soyad <span>*</span></label>
                                <input id="surname-id" type="text" placeholder="Soyad..." name="surname">
                                <label for="username-id">Kullanıcı Adı <span>*</span></label>
                                <input id="username-id" type="text" placeholder="Kullanıcı Adı..." name="username">
                                <label for="email-id">Email Adresi <span>*</span></label>
                                <input id="email-id" type="text" placeholder="Email adresi..." name="email">
                                <label for="userpass">Şifre <span>*</span></label>
                                <input id="userpass" type="password" placeholder="Şifre..." name="password">
                                <label for="phone-id">Telefon <span>*</span></label>
                                <input id="phone-id" type="text" placeholder="Telefon..." name="phone">
                                <div class="login-action mb-10 fix">
                                    <p>Kişisel verileriniz, bu web sitesindeki deneyiminizi desteklemek, hesabınıza erişimi yönetmek ve <a href="#">gizlilik politikamızda</a> açıklanan diğer amaçlar için kullanılacaktır.</p>
                                </div>
                                <button type="submit" class="tp-in-btn w-100">Kayıt Ol</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- account-area-end -->
        <!-- cta-area-start -->
        <section class="cta-area d-ldark-bg pt-55 pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item cta-item-d mb-30">
                            <h5 class="cta-title">Follow Us</h5>
                            <p>We make consolidating, marketing and tracking your social media website easy.</p>
                            <div class="cta-social">
                                <div class="social-icon">
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#" class="rss"><i class="fas fa-rss"></i></a>
                                    <a href="#" class="dribbble"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item mb-30">
                            <h5 class="cta-title">Sign Up To Newsletter</h5>
                            <p>Join 60.000+ subscribers and get a new discount coupon  on every Saturday.</p>
                            <div class="subscribe__form">
                                <form action="#">
                                    <input type="email" placeholder="Enter your email here...">
                                    <button>subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item mb-30">
                            <h5 class="cta-title">Download App</h5>
                            <p>DukaMarket App is now available on App Store & Google Play. Get it now.</p>
                            <div class="cta-apps">
                                <div class="apps-store">
                                    <a href="#"><img src="{% static 'assets/img/brand/app_ios.png' %}" alt=""></a>
                                    <a href="#"><img src="{% static 'assets/img/brand/app_android.png' %}" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cta-area-end -->
{% endblock %}